BOT_TOKEN=GENERAL_BOT_TOKEN
BOT_TOKEN_GRUPO=GROUP_BOT_TOKEN
BOT_GRUPO_NOMBRE=GROUP_BOT_NAME_WITH_@

SMTP_SERVER=correo.ugr.es
SMTP_EMAIL=SMTP_USERNAME
SMTP_PASSWORD=SMTP_PASSWORD

DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_HOST=localhost
DB_NAME=DB_NAME